.header-container {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #22B9EC;
  padding: 10px 0;
  display: flex;
  flex-direction: column;

  h1 {
    text-align: center;
    color: #FFFFFF;
  }
}
