.task-container {
  border-bottom: 1px solid;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  height: 50px;
  flex-direction: column;

  .edit-task-name-form {
    justify-content: space-around;
    display: flex;

    .edit-task-name-label {
      font-weight: bold;
    }

    .task-input {
      width: 250px;
    }

    .submit-button {
      border: 1px solid #FFFFFF;
      padding: 5px;
      background-color: #22B9EC;
      color: #FFFFFF;

      &:active {
        background-color: #09779a;
      }
    }

    .cancel-button {
      border: 1px solid #FFFFFF;
      padding: 5px;
      background-color: #ec2233;
      color: #FFFFFF;

      &:active {
        background-color: #88121e;
      }
    }
  }

  .task-options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    span {
      font-size: 1.2em;
    }
  }

  button {
    border: 1px solid #FFFFFF;
    padding: 5px;
    text-align: center;
    background-color: #22B9EC;
    color: #FFFFFF;
  }

  .completed-task {
    opacity: 0.5;
  }

  .deleted-task {
    text-decoration:line-through;
    font-size: 1.2em;
  }
}
